@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600&family=Cormorant+Garamond:ital@0;1&family=Nanum+Myeongjo:wght@400;700&display=swap');

html,
body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
}
